<h1><%= @post.title %></h1>
<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>

  <div class="col-md-4">
    <% if policy(@post).update? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
      <% if ! @post.summary %>
        <%= link_to "Summarize", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
      <% else %>
        <%= link_to "Edit Summary", edit_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </div>

</div>

<% if @summary %>
  <div class="row">

    <div class="col-md-8">
      <h4>Summary</h4>
      <p><%= @summary.body %></p>
    </div>

  </div>
<% end %>